// Unstyled list helper
@mixin unstyled-list() {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none !important;
  list-style-type: none !important;

  > li {
    margin-bottom: 0;
  }
}
