@tailwind base;

@import '/fonts/source-sans-pro/source-sans-pro.css';
body {
  @apply font-sans leading-normal text-base text-black;
}

#root {
  @apply flex flex-col min-h-screen;
}

a {
  transition: ease 0.3s;
}

a svg {
  pointer-events: none;
}

.container {
  @apply w-full mx-auto px-5;
}

@media (min-width: 1172px) {
  .container {
    max-width: 1172px;
  }
}

input::placeholder {
  @apply text-gray-600;
}

@tailwind components;

.skipnav {
  top: -130px;
  @apply text-blue-700 underline;
}

.skipnav:active,
.skipnav:focus {
  @apply absolute overflow-visible w-auto h-auto top-0 bg-white z-50;
  clip: auto;
}

.footerLink:last-of-type a,
.headerNavItem:last-of-type {
  @apply border-r-0;
}

.footerLink:last-of-type a,
.headerNavItem:last-of-type a,
.headerNavItem:last-of-type button {
  @apply pr-0;
}

nav {
  width: 90vw;
  top: 66px;
}

.navItem .subMenu {
  transition: all 0s ease;
}

.navItem .subMenu.desktop {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.2s;
}

.navItem .subMenu a {
  transition: ease-in 0s;
}

.navItem .search {
  max-width: 16rem;
}

.button {
  @apply text-center border-2 bg-blue-500 border-blue-500 text-white uppercase py-2 px-4 w-full rounded-sm leading-relaxed;
}

.button:hover {
  @apply border-blue-600 bg-blue-600;
}

.button:focus {
  @apply border-blue-700 bg-blue-700;
}

.button:active {
  @apply border-blue-800 bg-blue-800;
}

.button.secondary {
  @apply bg-white border-blue-500 text-blue-500;
}

.button.secondary:hover {
  @apply border-blue-600 text-blue-600;
}

.button.secondary:focus,
.button.secondary:active {
  @apply border-blue-700 text-blue-700;
}

.button.disable {
  @apply bg-gray-600 border-gray-600 cursor-not-allowed text-black;
}

/* #nav-container {
    min-height: calc(100vh - 66px);
    max-height: calc(100vh - 66px);
}  */

.secondMenu .headerNavItem.border-r {
  border-right-width: 0;
}

.link {
  @apply text-blue-500 underline;
}

.link:hover {
  @apply text-blue-600;
}

.link:focus {
  @apply text-blue-700;
}

.link:active {
  @apply text-blue-800;
}

/* #main-content a {
    transition: none;
}

@screen sm {
    #main-content {
        min-height: auto;
        max-width: 540px;
    }
}

@screen md {
    #main-content {
        max-width: 682px;
    }
} */

@screen lg {
  nav {
    top: -1px;
  }

  nav ul {
    @apply w-full;
  }

  .navItem:focus .subMenu.desktop,
  .navItem:hover .subMenu.desktop {
    visibility: visible;
    opacity: 1;
  }

  #nav-container {
    height: auto;
  }

  .navItem:focus > a,
  .navItem:hover > a {
    @apply bg-gray-400 text-blue-500;
  }

  /* .navItem > a.active:focus,
  .navItem:hover > a.active {
    @apply bg-blue-500 text-white;
  } */
}

@screen xl {
  nav ul {
    max-width: 1170px;
  }
}

.top-neg-px {
  top: -1px;
}

.top-neg-1 {
  top: -0.05rem;
}

.top-1-25 {
  top: 0.125rem;
}

.isStickyNav {
  position: sticky;
  top: 0;
}

.isStickyLogo .logo-nav {
  display: block;
}

.isStickyLogo .navListWrapper {
  top: 43px;
}

/* #toggle Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggleable > label:after {
  content: '\25BC';
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.toggle-input {
  display: none;
}

.toggle-input:not(checked) ~ .mega-menu {
  display: none;
}

.toggle-input:checked ~ .mega-menu {
  display: block;
}

.toggle-input:checked + label {
  color: white;
  background: #2c5282;
  /*@apply bg-blue-800 */
}

.toggle-input:checked ~ label:after {
  content: '\25B2';
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.slideOut {
  right: -90vw;
  animation: slideOut 0.5s forwards;
  /* transition: .5s ease-in; */
}

.slideIn {
  right: 0;
  animation: slideIn 0.5s forwards;
  /* transition: .5s ease-out; */
}

@-webkit-keyframes slideIn {
  100% {
    right: 0;
  }
}

@keyframes slideIn {
  100% {
    right: 0;
  }
}

@-webkit-keyframes slideOut {
  0% {
    right: -90vw;
  }
}

@keyframes slideOut {
  0% {
    right: -90vw;
  }
}

.spaced {
  letter-spacing: 0.05em;
}

.secondMenu .link {
  @apply py-3 px-5 block;
}

.header-icon {
  @apply mr-1;
}

.menuGroup .social-icons {
  width: 2rem;
  height: 2rem;
}

.menuGroup .social-icons.irs-2go {
  width: 2.4rem;
  height: 2.4rem;
  margin-top: -0.4rem;
}

.dropdownMenu {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdownMenu .zh-hans a,
.dropdownMenu .zh-hant a {
  font-family: PingFan sc\600;
}

.dropdownMenu .ko a {
  font-family: Apple SD Gothic neo\700;
}

#overlay {
  @apply fixed w-full h-full top-0 left-0 right-0 bottom-0 z-10 cursor-pointer bg-black opacity-50;
}

.openMenu {
  @apply h-full relative;
  overflow: hidden !important;
}

input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
#header-search {
  -webkit-appearance: none;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /*IE10+ specific styles go here */
  .header {
    height: 68px;
  }
  div.ie-col {
    margin-left: -0.5rem;
  }
}

.irs-2go {
  margin-top: 0.15rem;
}

.breadcrumb {
  display: inline;
}

.breadcrumb::after {
  display: inline;
  /* padding: 0 0.5em; */
  content: '/';
}

.breadcrumb:last-of-type::after {
  display: none;
}

.radio-button .label {
  @apply flex;
}

fieldset div:last-of-type.radio-button .label {
  @apply flex mb-0;
}

.radio-button .label svg {
  overflow: visible;
  margin-top: 0.1rem;
  display: inline;
}

.radio-button .radioDot {
  opacity: 0.06;
}

.radio-button .radioOutline {
  opacity: 0.75;
}

.radio-button .text {
  margin-left: 10px;
}

.checkbox-button .input,
.radio-button .input {
  opacity: 0;
  position: absolute;
}

.radio-button .input:focus + .label {
  color: initial;
}

.radio-button .input:focus + .label .radioFocus {
  opacity: 0.5;
  stroke: #0073af;
  box-shadow: 0 0 0 7px #add4fe;
}

.radio-button .input:checked + .label {
  color: initial;
}

.radio-button .input:checked + .label .radioDot {
  opacity: 1;
  fill: #0073af;
}

.radio-button .input:checked + .label .radioOutline {
  opacity: 1;
  stroke: #0073af;
  stroke-width: 2;
}

[role='checkbox'] {
  display: inline-block;
  position: relative;
  padding-left: 1.4em;
  cursor: default;
}

[role='checkbox']::before,
[role='checkbox']::after {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
  content: '';
}

[role='checkbox']::before {
  width: 14px;
  height: 14px;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.2em;
  background-image: linear-gradient(to bottom, hsl(300, 3%, 93%), #fff 30%);
}

[role='checkbox']:active::before {
  background-image: linear-gradient(to bottom, hsl(300, 3%, 73%), hsl(300, 3%, 93%) 30%);
}

[role='checkbox'][aria-checked='mixed']::before,
[role='checkbox'][aria-checked='true']::before {
  border-color: hsl(216, 80%, 50%);
  background: hsl(217, 95%, 68%);
  background-image: linear-gradient(to bottom, hsl(217, 95%, 68%), hsl(216, 80%, 57%));
}

[role='checkbox'][aria-checked='mixed']::after {
  display: block;
  width: 8px;
  border-bottom: 0.125em solid #fff;
  transform: translate(-50%, -50%) rotateZ(45deg);
  transform-origin: center center;
}

[role='checkbox'][aria-checked='mixed']:active::after,
[role='checkbox'][aria-checked='true']::after {
  display: block;
  width: 0.25em;
  height: 0.4em;
  border: solid #fff;
  border-width: 0 0.125em 0.125em 0;
  transform: translateY(-65%) translateX(-50%) rotate(45deg);
}

[role='checkbox'][aria-checked='mixed']:active::before,
[role='checkbox'][aria-checked='true']:active::before {
  background-image: linear-gradient(to bottom, hsl(216, 80%, 57%), hsl(217, 95%, 68%));
}

[role='checkbox']:focus {
  outline: none;
}

[role='checkbox']:focus::before {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  border-color: hsl(216, 94%, 73%);
  border-width: 3px;
  border-radius: calc(0.2em + 3px);
  box-shadow: inset 0 0 0 1px hsl(216, 80%, 50%);
}

/* .knotLine {
  position: relative;
  flex: 0 0 auto;
}

.line {
  position: absolute;
  z-index: 0;
  top: 16px;
  left: 50%;
  width: calc(100% + 16px);
  height: 0.8px;
  background-color: grey;
} */

.line {
  top: 32%;
  height: 0.8px;
  z-index: -5;
}

.top50 {
  top: 50%;
}

table {
  min-width: 50%;
}

table tr:nth-child(odd) {
  width: 100%;
}

@media print {
  header,
  #nav-container,
  #breadcrumbList,
  #progressTracker,
  #stepIndicator,
  #untranslatedWarning,
  hr,
  .spinnerWrapper,
  .editBtn,
  .startOverBtn,
  .printBtn,
  .backBtn,
  .detailsBtn,
  .footer,
  #sliderInformation {
    display: none;
  }

  body {
    font-size: 0.875rem !important;
  }

  a[href]:after {
    content: ' [' attr(href) '] ';
  }

  body {
    font-size: 0.875rem !important;
  }

  .text-6xl {
    font-size: 2.5rem !important;
  }

  .text-3xl {
    font-size: 1.6rem !important;
  }

  .my-12 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .mt-12 {
    margin-top: 0.5rem !important;
  }

  .income-container,
  #recommendationsBox,
  #asteriksNoteList {
    page-break-after: always;
  }
}

.display-list {
  display: list-item;
}

.checkboxGroup:focus-within {
  /* outline: 2px solid black; */
  box-shadow: 0 0 0 2pt rgba(125, 173, 217, 0.8);
  /* background-color: #002d62; */
}

.carousel {
  position: relative;
  overflow: hidden;
  grid-area: carousel;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0.5em;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 0 auto;
}

.carousel-indicator {
  position: relative;
  flex: 0 1 auto;
  width: 1.5em;
  height: 0.3em;
  margin: 0 0.3em;
  background: red;
  cursor: pointer;
}
.carousel-indicator:hover {
  background: blue;
}

.carousel-indicator.active {
  background: black;
  cursor: default;
}

.carousel-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  border: 1px solid #d6d7d9;
  margin: 0.75rem;
  padding: 1rem;
  height: auto;
  min-width: 260px;
  max-width: 260px;
}

.carousel-item:first-of-type {
  margin-left: 0;
}

.carousel-item:last-of-type {
  margin-right: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'carousel carousel'
    'prev next';
}

.grid-container .prev {
  grid-area: prev;
}

.grid-container .next {
  grid-area: next;
}

@media (min-width: 540px) {
  .grid-container {
    display: flex;
  }

  .carousel-item {
    min-width: 270px;
  }

  .carousel-item:first-of-type {
    margin-left: 0.75rem;
  }

  .carousel-item:last-of-type {
    margin-right: 0.75rem;
  }
}

.step-indicator-item {
  flex-basis: 0px;
  @apply flex-grow relative;
}

.step-indicator-item-link {
  @apply flex flex-col justify-center items-center p-1 z-10 relative;
}

.step-indicator-item-line {
  left: 50%;
  width: calc(100% + 16px);
  height: 1px;
  top: 19px;
  @apply absolute z-0 bg-gray-600;
}

@media (min-width: 540px) {
  .step-indicator-item-line {
    top: 28px;
  }
}

.step-indicator-item:last-of-type .step-indicator-item-line {
  @apply w-0;
}

.step-indicator-item-link-interactive:hover .step-indicator-item-step {
  @apply bg-blue-600;
}

@tailwind utilities;

.fade-in {
  animation: fadeIn ease 0.7s;
  -webkit-animation: fadeIn ease 0.7s;
  -moz-animation: fadeIn ease 0.7s;
  -o-animation: fadeIn ease 0.7s;
  -ms-animation: fadeIn ease 0.7s;
}
.fade-in-plus {
  animation: fadeIn ease 1.3s;
  -webkit-animation: fadeIn ease 1.3s;
  -moz-animation: fadeIn ease 1.3s;
  -o-animation: fadeIn ease 1.3s;
  -ms-animation: fadeIn ease 1.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.MuiIconButton-label {
  pointer-events: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropDown {
  background-image: url('../components/Dropdown/dropdown-arrow.svg');
  background-position: right 13px center;
  background-repeat: no-repeat;
  background-size: 16px;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}

/* for IE10 */
select::-ms-expand {
  display: none;
}

/* Top Gold Border for ContentBox Component */
.border-t-gold-500 {
  border-top-color: #c7a97b;
}

/* Grid container for ContentBox Component */
.contentBoxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 25px;
}

/* NO JS */
noscript {
  @apply bg-blue-600;
  @apply fixed;
  @apply left-0;
  @apply right-0;
  @apply top-0;
  @apply bottom-0;
  @apply z-50;
  @apply p-4;
}

.noscript-section {
  @apply bg-gray-400;
  @apply text-black;
  @apply rounded;
  @apply p-4;
  @apply absolute;
  @apply z-50;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.noscript-section p {
  @apply my-1;
  @apply font-bold;
}
.noscript-section li {
  @apply my-1;
}
.noscript-section a {
  @apply text-blue-500;
}
.noscript-section a:hover {
  @apply text-blue-600;
}
.noscript-section a:active {
  @apply text-blue-700;
}

/* Gauge styles */
.gauge {
  position: relative;
  display: block;
  width: 240px;
  margin: 0 auto;
}

.gauge .gaugeBG {
  width: 100%;
}

.gauge .needle {
  position: absolute;
  width: 20px;
  top: 30px;
  left: 102px;
  transform-origin: 44% 92%;
  transition: 1s linear;
}

@screen sm {
  .gauge {
    width: 280px;
  }

  .gauge .needle {
    width: 24px;
    top: 34px;
    left: 119px;
  }
}

.gauge .needle.zero {
  transform: rotate(5deg);
}

.gauge .needle.owe {
  transform: rotate(-90deg);
}

.gauge .needle.oweLittle {
  transform: rotate(-45deg);
}

.gauge .needle.refund {
  transform: rotate(90deg);
}

.gauge .needle.refundLittle {
  transform: rotate(45deg);
}

/* Slider Styles */
.MuiSlider-valueLabel {
  text-align: center;
}

.arrowBox {
  @apply bg-white;
  @apply border border-gray-400;
  position: relative;
  padding: 2em 0.5em 0;
  margin: 1em 0 3em;
}

.arrowBox:after,
.arrowBox:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 23px;
  margin-left: -15px;
  margin-top: -1px;
}
.arrowBox:before {
  border-color: transparent;
  border-top-color: #f3f3f3;
  border-width: 24px;
  margin-left: -16px;
}

.minMaxLabels {
  width: 100%;
  display: inline-block;
  font-size: 1em;
  margin-top: 17px;
}

.minMaxLabels .minMaxLeft {
  float: left;
  margin-left: 19px;
}
.minMaxLabels .minMaxRight {
  float: right;
  margin-right: 6px;
}

.resultsBox {
  border-top: 10px solid #00599c;
  align-content: center;
  /* text-align: center; */
  /* border: 1px solid #d6d7d9;
  margin: 0 auto;
  padding: 0 0 1em; */
}

.resultsBox::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  top: -1px;
  border-top: 20px solid #00599c;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
